[Desktop Entry]
Version=1.0
Type=Application
Name=24HG Hub
Comment=Open the 24 Hour Gaming Hub
Exec=/usr/bin/24hg-hub
Icon=24hg-logo
Terminal=false
Categories=Game;Network;
