[Unit]
Description=24HG Forge Automatic Update Check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/forge/auto-update.sh
