[Desktop Entry]
Type=Application
Name=24HG Forge Desktop Widget
Exec=conky -c ~/.config/conky/forge.conf -d
Hidden=true
NoDisplay=true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
StartupNotify=false
