[Desktop Entry]
Name=24HG Hub
Comment=Launch 24HG Hub on login
Exec=/usr/bin/forge-hub
Icon=forge-logo
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
