[Desktop Entry]
Type=Application
Name=HubOS Desktop Widget
Exec=conky -c ~/.config/conky/hubos.conf -d
Hidden=false
NoDisplay=true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
StartupNotify=false
