[Desktop Entry]
Name=24HG System Tray
Comment=Quick-connect to 24HG servers
Exec=/usr/bin/forge-tray
Icon=forge-logo
Type=Application
Categories=Game;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
NoDisplay=true
