[Unit]
Description=24HG Discord Rich Presence Bridge
Documentation=https://os.24hgaming.com
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/24hg-discord-fix monitor
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
