[Unit]
Description=24HG Anti-Cheat Status Tracker
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/24hg-anticheat-tracker watch
