[Unit]
Description=24HG Smart Game Launch Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/24hg-smart-launch daemon
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
