[Unit]
Description=24HG Forge Achievement Check Timer

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
