[Unit]
Description=24HG Forge Smart Game Launch Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/forge-smart-launch daemon
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
