[Unit]
Description=24HG Forge Instant Replay Buffer
Documentation=https://os.24hgaming.com
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/forge-replay start
ExecStop=/usr/bin/forge-replay stop
Restart=no

[Install]
WantedBy=default.target
