[Unit]
Description=HubOS Wallpaper Rotation Timer

[Timer]
OnCalendar=*-*-* 06,12,18,22:00:00
Persistent=true

[Install]
WantedBy=timers.target
