[Desktop Entry]
Name=24HG Screen Recorder
Comment=Per-game screen recording with GPU acceleration
Exec=24hg-record status
Icon=24hg-logo
Terminal=true
Type=Application
Categories=Game;AudioVideo;Recorder;
Keywords=record;screen;capture;game;video;
