[Desktop Entry]
Name=24HG Overlay
Comment=In-game friend activity and notifications
Exec=forge-overlay start
Icon=forge-logo
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
