[Desktop Entry]
Name=24HG Forge Mod Download Handler
Comment=Handle nxm:// links from Nexus Mods
Exec=/usr/bin/forge-mod-manager nexus handle %u
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/nxm;
Categories=Utility;
