[Desktop Entry]
Name=24HG Game Ready
Comment=Auto-optimize new game installs
Exec=/usr/bin/24hg-game-ready
Icon=24hg-logo
Terminal=true
Type=Application
Categories=Game;Utility;
Keywords=game;optimize;proton;shader;
