[Desktop Entry]
Name=Forge Audio Router
Comment=Per-app audio routing
Exec=/usr/bin/forge-audio-router
Icon=forge-logo
Terminal=true
Type=Application
Categories=Audio;Game;
Keywords=audio;sound;route;pipewire;game;
